.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 10;
}

.modal_opened {
  visibility: visible;
}

.modal__content {
  background: rgba(255, 255, 255, 1);
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  overflow: visible;
}

.modal__close {
  position: absolute;
  top: -32px;
  right: -29px;
  background-image: url("../../../public/assets/icons/black/back.svg");
  width: 40px;
  height: 40px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__title {
  margin: 0;
  width: 95px;
  height: 20px;
  padding-bottom: 24px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 24px;
  line-height: 20px;
}

.modal__label {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(47, 113, 229, 1);
  margin: 10px 0 0;
}

.modal__label:last-of-type {
  padding: 0;
}

.modal__input {
  display: block;
  border: none;
  border-bottom: 1px solid grey;
  width: 100%;
  padding: 8px 0 0;
  cursor: pointer;
  height: 20px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  opacity: 50%;
  color: rgba(0, 0, 0, 1);
  transition: color 0.3s ease, opacity 0.3s ease;
}

.modal__input:focus {
  color: black;
  opacity: 100%;
  outline: none;
}

.modal__input.filled {
  color: black;
  opacity: 100%;
  background-color: transparent;
}

.modal__label_type_input {
  padding-top: 22px;
}

.modal__legend {
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 0 0 12px;
}

.modal__submit {
  width: 358px;
  height: 64px;
  border-radius: 50px;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  background: rgba(47, 113, 229, 1);
  border: none;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}

.modal__submit:hover {
  opacity: 70%;
  transition: 0.3s;
}

.modal__submit:disabled {
  background-color: grey;
  cursor: not-allowed;
  opacity: 0.5;
}

.modal__link {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: rgba(47, 113, 229, 1);
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.modal__link:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.modal__or {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  margin: 0;
  padding: 0 5px 0 0;
}

.modal__alternate-action {
  display: flex;
  justify-content: center;
}

.modal__error {
  font-family: "Inter";
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 14px;
  padding-top: 10px;
  font-weight: 400;
}
