.contact__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact__modal-text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.contact__modal-name {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
  max-width: 120px;
}

.contact__modal-email {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 0;
}

.contact__modal-message {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  height: 80px;
  margin: 15px 0 0;
  padding: 10px 0 0 10px;
}

.contact__modal-info {
  display: flex;
  gap: 20px;
}

.contact__modal-preloader {
  position: absolute;
}
