.alllivegamessection {
  position: relative;
  z-index: 10;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.alllivegamessection__header {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 40px;
}

.alllivegamessection__card-list {
  list-style: none;
  padding: 0 0 50px;
  margin: 0;
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.alllivegamessection__card {
  background: rgba(255, 255, 255, 1);
  color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  justify-content: center;
  text-align: center;
}

.alllivegamessection__card:hover {
  background: rgb(209, 209, 209);
  transition: 1s ease;
  cursor: pointer;
}

.alllivegamessection__team-logo {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

.alllivegamessection__date-time {
  font-size: 16px;
  color: #dddddd;
  margin-bottom: 10px;
}

.alllivegamessection__date {
  display: block;
}

.alllivegamessection__time {
  display: block;
}

.alllivegamessection__teams {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 15px;
}

.alllivegamessection__team {
  margin: 0 10px;
}

.alllivegamessection__vs {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.9);
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.alllivegamessection__teams-date {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  top: 120px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 4px;
}

.alllivegamessection__teams-name {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.9);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 70px;
  display: block;
}

.alllivegamessection__live {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  animation: blink 2.5s infinite ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.alllivegamessection__preloader {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}

.alllivegamessection__show-more {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 288px;
  height: 64px;
  border-radius: 50px;
  border: none;
  background: rgba(255, 255, 255, 1);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.9);
  cursor: pointer;
}

.alllivegamessection__show-more:hover {
  background: rgb(209, 209, 209);
  transition: 1s ease;
}

.alllivegamessection__no-games {
  display: flex;
  justify-content: center;
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 50px;
}
