.footer {
  background: rgba(245, 246, 247, 1);
  z-index: 5;
  position: sticky;
  margin: 0 auto;
  padding: 25px;
  min-height: auto;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
}

.footer__info {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__link:hover {
  color: rgb(137, 137, 138);
  transition: 1.5s ease;
}

@media screen and (max-width: 768px) {
  .footer__info {
    font-size: 12px;
  }
}
