.footer {
  background: rgba(245, 246, 247, 1);
  position: relative;
  margin: 0 auto;
  padding: 25px;
  min-height: auto;
  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  border: none;
  display: flex;
  justify-content: space-between;
}

.footer__info {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: rgba(182, 188, 191, 1);
}

.footer__link {
  text-decoration: none;
  color: inherit;
}

.footer__link:hover {
  color: rgb(137, 137, 138);
  transition: 1.5s ease;
}

.footer__button {
  border: none;
  background: transparent;
  font-family: "PT Sans Narrow";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  cursor: pointer;
  transition: 1s ease;
}

.footer__button:hover {
  opacity: 50%;
}

.footer__buttons {
  display: flex;
  align-items: center;
  gap: 0;
}

@media screen and (max-width: 768px) {
  .footer__info {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .footer__info {
    max-width: 150px;
  }
}
