.gamemodal__teams {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
}

.gamemodal__date {
  display: flex;
  justify-content: center;
  font-family: "Inter";
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  padding: 0;
}

.gamemodal__score {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

.gamemodal__preloader {
  position: absolute;
}

.gamemodal__time {
  font-family: "Inter";
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  margin: 0;
  padding-bottom: 10px;
}

.gamemodal__live-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gamemodal__updates {
  font-family: "Inter";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.gamemodal__updates-header {
  font-family: "Inter";
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 18px 0 5px;
}

.gamemodal__event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 100px;
  overflow-y: auto;
  border: none;
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  opacity: 0.9;
}

.gamemodal__event-list:hover {
  background-color: #eeeeee;
  transition: 1s ease;
}

.gamemodal__live-text-final {
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.gamemodal__live-text {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  animation: blink 2.5s infinite ease-in-out;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.gamemodal__live-section-text {
  margin: 0;
  padding: 0;
}

.gamemodal__half-time-text {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  animation: blink 2.5s infinite ease-in-out;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.gamemodal__extra-time-text {
  color: red;
  font-weight: bold;
  text-transform: uppercase;
  animation: blink 2.5s infinite ease-in-out;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  align-self: center;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.gamemodal__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.gamemodal__league {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  font-style: italic;
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding-right: 5px;
}
